<nav>
    <ul>
        <li><a href="/">Home</a></li>
        {{!-- <li><a href="/teacher">Polls</a></li>
        <li><a href="/question">testroute</a></li> --}}
        <li><a href="/teacher/overview">Charts</a></li>
    </ul>
</nav>