<h1>{{title}}</h1>
<div>
    <p>Hier komen de results, maar die gaan uiteindeijk wel weg.</p>
</div>
<div>
    <form method="post" action="/">
    <fieldset>
        <legend>Wat vind je van de kleur Blauw?</legend>

        <input type="radio" value="mooi" id="mooi" name="opt">
        <label for="mooi">mooi!</label><br />

        <input type="radio" value="Mwua" id="mwua" name="opt">
        <label for="mwua">mwua</label><br />

        <input type="radio" value="Lelijk" id="lelijk" name="opt">
        <label for="lelijk">lelijk</label>
    </fieldset>
    <div class="button">
      <button type="submit">Verstuur je antwoord</button>
    </div>
</form>
</div>